%h1
  = @user.username
- if session["username"] && @user.username!=session["username"] && !@self.follows.include?(@user)
  %form{:action=>"#{request.path}", :method=>"post"}
    %p
      %input{:type=>"submit", :value=>"Suivre"}
- else
  - if @user.username!=session["username"] && session["username"]
    %form{:action=>"#{request.path}", :method=>"post"}
      %p
        %input{:type=>"submit", :value=>"Ne plus suivre"}


- if !@feed.empty? 
  - if @tri!="recent"
    %a{:href=>"#{request.path}?tri=recent"}<
      Récent
  - else
    %span<
      Récent

  - if @tri!="populaire"
    %a{:href=>"#{request.path}?tri=populaire"}<
      Populaire
  - else
    %span<
      Populaire

  - if @tri!="favoris"
    %a{:href=>"#{request.path}?tri=favoris"}<
      Favoris
  - else
    %span<
      Favoris

  = haml(:_liste, :layout => false)
- else
  Aucune publication


