%h1 #{@titre}

- if request.path.index("publications")
  .nav_sec
    - actif=case request.path.index("codes")
      - when nil
        - request.path.index("images") ? "images" : "tout"
      - else 
        - "codes"
    %a{:href=>"/publications",:id=>"tout",:class=>"#{"actif" if actif=="tout"}"} Tout
    %a{:href=>"/publications/codes",:id=>"code",:class=>"#{"actif" if actif=="codes"}"} Codes
    %a{:href=>"/publications/images",:id=>"image",:class=>"#{"actif" if actif=="images"}"} Images

- if !@feed.empty? 
  - if @titre!="Dernières Activités"
    .tri
      - if @work_tri!="recent"
        = link_to "#{request.path}?tri=recent", "récent"
      - else
        %span récent

      - if @work_tri!="populaire"
        = link_to "#{request.path}?tri=populaire", "populaire"
      - else
        %span populaire

      - if @work_tri!="favoris"
        = link_to "#{request.path}?tri=favoris", "favoris"
      - else
        %span favoris


  %ul.publications
    = haml(:_liste, :layout => false)    

  - if @page!=@total_page && (@total_page!=1 || @count==0)
    #btn_plus{ :"data-path" => request.path }
      = link_to "##{@page+1}", "Plus", {:id=>"plus"}

- else
  %span.no-code - Aucune publication -
