%h1 #{@post.titre}
- if session["username"]
  - if !is_favorite @self,@post
    %a{:href=> "#{request.path}/fav",:class=>"fav"} ☆
  - else
    %a{:href=> "#{request.path}/fav", :class=>"unfav"} ★


%div.infos.show
  %a{:href=>"/users/#{@post.user.username}", :class=>"user"} 
    = @post.user.username==session["username"] ? "moi" : @post.user.username
    |
  %span{:class=>"time", :title => @post.created_at.to_s} #{@post.distance_of_time_in_words(@post.created_at)}
  |
  %a{:href=>"/types/#{@post.type}", :class=>"type"} #{@post.type}

  %span{:class=>"list_stat_post_show"}<
    %span.views= @post.views.to_s
    %span.comments= @post.count_comments.to_s
    %span.favoris= @post.count_favorite.to_s

%div.desc
  Description:
  %span #{@post.desc}


- if session["id"]==@post.user_id
  %form{:id=>"delete_post", :action=>"/publications/#{@post.id}", :method=>"post"}
    %input{:type=>"hidden", :name=>"_method", :value=>"delete"}
    %input{:type=>"submit", :class=>"bouton rouge", :value=>"Supprimer"}

- if session["id"]==@post.user_id
  %a{:id=>"bt_modifier", :class=>"bouton mauve", :href=>"/publications/#{@post.id}/edit"} Modifier

- if @post.type!="image"
  #bloc_code
    %pre{:class=>"brush: #{@post.type}"}
      :preserve
      ~ @post.body
- else
  %img{:id=>"img_post",:src=>"/files/images/#{@post.file_file_name}"}



%div#commentaires
- @comments.each do |comment|
  %div.commentaire
    %a{:href=>"/users/#{comment.nom}", :class=>"user"}
      = comment.nom==session["username"] ? "moi" : comment.nom
    %span{:class=>"time", :title => comment.created_at.to_s} #{comment.distance_of_time_in_words(comment.created_at)}
    %p=comment.body

%h3
  Écrire un commentaire:

- if session["username"]

  %form{:action=>"/publications/#{@post.id}", :method=>"post"}
    %p
      %textarea{:class=>"textarea", :cols=>"58",:rows=>"5", :name=>"comment_body"}
      %input{:class=>"bouton mauve submit", :type=>"submit", :value=>"Commenter"}

- else
  #needtologin
    Vous devez soit
    = link_to("/login","vous connecter")
    ou
    = link_to("/users/new","vous inscrire")
    pour laisser un commentaire sur cette publication



- if @post.type!="image"

  %link(href="../css/shCoreRDark.css" rel="stylesheet" type="text/css")
  %script(src="../js/shCore.js" type="text/javascript")
  %script(src="../js/shAutoloader.js" type="text/javascript")
  :javascript


    SyntaxHighlighter.autoloader(
    'applescript            ../js/shBrushAppleScript.js',
    'actionscript3 as3      ../js/shBrushAS3.js',
    'bash shell             ../js/shBrushBash.js',
    'cpp c                  ../js/shBrushCpp.js',
    'c# c-sharp csharp      ../js/shBrushCSharp.js',
    'css                    ../js/shBrushCss.js',
    'java                   ../js/shBrushJava.js',
    'jfx javafx             ../js/shBrushJavaFX.js',
    'js jscript javascript  ../js/shBrushJScript.js',
    'perl pl                ../js/shBrushPerl.js',
    'php                    ../js/shBrushPhp.js',
    'text plain             ../js/shBrushPlain.js',
    'py python              ../js/shBrushPython.js',
    'ruby rails ror rb      ../js/shBrushRuby.js',
    'sass scss              ../js/shBrushSass.js',
    'sql                    ../js/shBrushSql.js',
    'vb vbnet               ../js/shBrushVb.js',
    'xml xhtml xslt html    ../js/shBrushXml.js'

    );

    SyntaxHighlighter.all();


