%h1 Types
%ul.list_type
  - @count_type.each do |type|
    %li
      %a{:href=>"#{request.path}/#{type[0]}"}
        %span.nom_type #{type[0]} 
        #{"/"} 
        %span.count #{type[1]} publications
